# Email Configuration for Contact Form
# Use a Gmail account and an App Password (not your regular password)
# Guide: https://support.google.com/accounts/answer/185833
EMAIL_USER=ranarajendar720@gmail.com
EMAIL_PASS=afpt smui xtsl dlup
